<!-- 
    <h1>Um título</h1> para o título da seção principal exibido na página
    <h2>Um sub-título</h2> para um título um nível abaixo
    <h3>Um sub-sub-título</h3> ... e por aí vai, até <h6>
    <p>Um parágrafo de texto</p>
    <em>texto</em> enfatiza seu texto
    <strong>text</strong> enfatiza fortemente seu texto
    <br> quebra a linha (você não pode digitar nada dentro da tag br e ela não possui uma tag de fechamento correspondente)
    <a href="https://djangogirls.org">link</a> cria um link
    <ul><li>primeiro item</li><li>segundo item</li></ul> cria uma lista, exatamente como essa!
    <div></div> define uma seção da página -->

<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>